# Normalize commit author names for git shortlog
mrsalty <5978955+mrsalty@users.noreply.github.com> Matteo Cunietti <5978955+mrsalty@users.noreply.github.com>
mrsalty <5978955+mrsalty@users.noreply.github.com> mrsalty <matteo.cunietti@gmail.com>